:root {
  /* Fonts */
  font-family: "Outfit", serif;
  font-size: 0.87rem;

  /* Headings */
  --heading-large: 2.5rem;
  --heading-medium: 1.5rem;
  --heading-small: 1.25rem;
  --heading-xsmall: 1rem;

  /* Colors */
  --dark-navy: #1A2A33;
  --semi-dark-navy: #1F3641;
  --silver: #A8BFC9;
  --silver-hover:#DBE8ED;
  --light-blue:#31C3BD;
  --light-blue-hover:#65E9E4;
  --light-yellow:#F2B137;
  --ligth-yellow-hover:#FFC860;

  background-color: var(--dark-navy);

}
*{
  padding: 0;
  margin: 0;
  border: none;
}

body {
  min-height: 100vh;
  color: white;
  font-size: 0.87rem;
}


